@import 'shared/styles/colors.scss';

.flashing {
  animation: flash 0.5s infinite alternate;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.microphone {
  fill: black;
}
